.mapTile {
  display: flex;
  flex-wrap: wrap;
  background-color: green;
  z-index: 9;
  background: url("./../../maps/proto-summer/assets/terrain_2.png");
}

.mapTile.dirt1 {
  height: var(--map-item-size);
  background-position: 673px -64px;
  padding: 0;
}

.mapTile.dirt2 {
  height: var(--map-item-size);
  background-position: 576px -64px;
  padding: 0;
}

.mapTile.dirt3 {
  height: var(--map-item-size);
  background-position: 480px -64px;
  padding: 0;
}

.mapTile.grass1 {
  height: var(--map-item-size);
  background-position: 671px -256px;
  padding: 0;
}

.mapTile.grass2 {
  height: var(--map-item-size);
  background-position: 574px -256px;
  padding: 0;
}

.mapTile.grass3 {
  height: var(--map-item-size);
  background-position: 480px -256px;
  padding: 0;
}

.mapTile.sand1 {
  height: var(--map-item-size);
  background-position: 0px -448px;
  padding: 0;
}

.mapTile.water1 {
  height: var(--map-item-size);
  background-position: 95px -64px;
  padding: 0;
}

.mapTile.hole1 {
  height: var(--map-item-size);
  background-position: 384px -64px;
  padding: 0;
}


