body {
  background-color: rgb(28, 29, 27);
  font-family: sans-serif;
}


#game {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;

  /* cursor: url("./../ui/cursors/aqx2w-topno.svg"); */
}


hud,
ui {
  display: flex;
  width: 768px;
  height: 768px;
  background: fixed;
  position: absolute;
}

hud {
  z-index: 90;
}

hud status {
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: flex-start;
}

hud status score {
  color: white;
}

ui {
  z-index: 100;
}

/* Animations */
/* ::part(ping-wrap-part) {
  position: absolute;
  top: -17px;
  left: -17px;
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
}

::part(ping-part) {
  position: relative;
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 50%;

  animation: pingAnim 2.2s ease-in-out 3;
} */
/* ~~~ */

/* Cursors */
.cursor {
  position: absolute;
  display: block;
  width: 20px;
  border: 0;
  margin: 5px;
  padding: 3px;
  text-align: justify;
  z-index: 1000000;
}

.cursor--ping {
  position: absolute;
  display: block;
  width: 20px;
  border: 0;
  margin: 5px;
  padding: 3px;
  text-align: justify;
  z-index: 1000000;
  /* cursor: url(http://www.rw-designer.com/cursor-extern.php?id=185644), auto; */
}

/* ~~~ */